:root{
    --primarybackground: #36DBE5;
    --secondarybackground: #249EE3;
    --textbackground: #9AEDF2;
    --textcolor: #676767;
    --headinfcolor: #364043;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body{
    display:flex; 
    min-height: 100%;
    min-width: 100%;
}

/* SideBar CSS */
.sidebar{
    background-color: var(--primarybackground);
    width: 40%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.date{
    text-align: right;
    color: white;
    width: 100%;
}
#date-in-box1{
    display: inline-block;
    font-size: 350%;
    margin: 20px 0 0 20px;
    padding: 0px;
}
#date-months{
    display: inline-block;
    font-size:40% ;
    padding-right: 40px;
}
.heading{
    font-weight: bolder;
    font-size: 120%;
    color: var(--headinfcolor);
    text-transform:uppercase;
}

.sidebar li{
    color:var(--textcolor);
    list-style: none;
    background-color: var(--textbackground);
    display: table;
    margin: 8px;
    padding: 3px;
    border-radius: 10px;
}



/* Calender CSS */
.box2{
    background-color: var(--secondarybackground);
    width:60%;
}

.calender{
    margin: 10% auto;
    padding: 0px 20px 25px 20px;
    background-color: white;
    border-radius: 32px;
    max-width: 320px;
    justify-content: center;
    overflow: auto;
}
.heading-calender{
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.month{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
padding-left: 10%;
}
.arrow{
    display: inline-block;
    text-align: right;
    cursor: pointer;
    padding-right: 10%;
    a{
        text-decoration: none;
        color: black;
    }
}
.main-calender{
    text-align:center ;
    justify-content: center;
    margin: auto;
    overflow: auto;
    /* display: grid ;
    grid-template-rows: repeat(7, 1fr);
    gap: 0px; */
}
.weekdays{
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 17px;
    justify-content: left;
    align-content:center;
    padding: 10px;
    font-weight: bolder;
}

.buttons{
    /* padding: 10px 5px; */
    margin: 0;
    /* width: 40px;
    height: 40px; */
    box-sizing:border-box;
    display: inline-grid ;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    justify-content: space-evenly;
    align-content: center;
}

.buttons button{
    margin: 0;
    /* background-color: white; */
    border: solid 1px #D5D4DF;
    border-radius: 50%;
    cursor: pointer;
    width:40px;
    height:40px;
}

button.dates-faded {
    background-color: #e1e4f0;
    color: #A8A8A8;
}

.calender button:hover{
    background-color: white;
    color: black;
}

.calender button:focus{
    background-color: orange;
    color: white;
}
@media only screen and (max-width: 480px) {
    body{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        /* height: 40%; */
        overflow-x: auto;
        overflow-y: auto;
    }
    .box2{
        width: 100%;
        /*       */
        overflow: auto;
    }
}