:root{
    --primarybackground: #36DBE5;
    --secondarybackground: #249EE3;
    --textbackground: #9AEDF2;
    --textcolor: #6D7979;
    --headinfcolor: #364043;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body{
    display:flex; 
    min-height: 100%;
    min-width: 100%;
}

/* SideBar CSS */
.sidebar{
    background-color: var(--primarybackground);
    width: 40%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.date{
    text-align: right;
    color: white;
    width: 100%;
}
#date-in-box1{
    display: inline-block;
    font-size: 350%;
    margin: 20px 0 0 20px;
    padding: 0px;
}
#date-months{
    display: inline-block;
    font-size:40% ;
    padding-right: 40px;
}
.heading{
    font-weight: bolder;
    font-size: 120%;
    color: var(--headinfcolor);
    text-transform:uppercase;
}

.sidebar li{
    color:var(--textcolor);
    list-style: none;
    background-color: var(--textbackground);
    display: table;
    margin: 8px;
    padding: 3px;
    border-radius: 10px;
}



/* Calender CSS */
.box2{
    background-color: var(--secondarybackground);
    width:60%;
}

.calender{
    margin: 10% auto;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    max-width: 500px;
    justify-content: center;
}
.heading-calender{
    font-weight: bolder;
    font-size: xx-large;
}
.month{
    display: inline-block;
    padding-left: 30px;
}
.arrow{
    display: inline-block;
    text-align: right;
    padding-left: 170px;
    /* position: relative;
    left: 170px; */
    cursor: pointer;
    a{
        text-decoration: none;
        color: black;
    }
}
.main-calender{
    text-align:center ;
    justify-content: center;
    margin: auto;
    padding-left: 25px;
    overflow: auto;
    /* display: grid ;
    grid-template-rows: repeat(7, 1fr);
    gap: 0px; */
}
.weekdays{
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 32px;
    justify-content: center;
    align-content:start;
    padding: 0px;
    font-weight: bolder;
}

.buttons{
    /* padding: 10px 5px; */
    margin: 0;
    
    /* width: 40px;
    height: 40px; */
    box-sizing:border-box;
    display: inline-grid ;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    justify-content: center;
    align-content: end;
}

.buttons button{
    margin: 0;
    background-color: white;
    border: solid 1px var(--textcolor);
    border-radius: 50%;
    cursor: pointer;
    width:55px;
    height:55px;
    
    
}
.dates, .dates-faded{
    padding: 20px 22px;
}
.dates-double{
    padding: 20px 18.34px;
}
button.dates-faded {
    background-color: #e1e4f0;
    color: var(--textcolor);
}

.calender button:hover{
    color: white;
    background-color: var(--primarybackground);
}

.calender button:focus{
    background-color: orange;
    color: white;
}
@media only screen and (max-width: 1024px) {
    body{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        /* height: 40%; */
        overflow-x: auto;
        overflow-y: auto;
    }
    .box2{
        width: 100%;
        /*       */
        overflow: scroll;
    }
}