:root{
    --primarybackground: #36DBE5;
    --secondarybackground: #249EE3;
    --textbackground: #9AEDF2;
    --textcolor: #676767;
    --headingcolor: #364043;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    display:flex; 
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    /* transform: translateY(10vh) scaleY(120%); */
}

/* SideBar CSS */
.sidebar{
    background-color: var(--primarybackground);
    min-width: 40%;
    min-height: 100vh;
    font-family: 'Roboto';
}
.date{
    text-align: right;
    color: white;
    width: 100%;
}
#date-in-box1{
    display: flex;
    font-size: 80px;
    margin: 20px 0 0 20px;
    padding: 0px;
    justify-content: end;
}
#date-months {
    display: flex;
    font-size: 34%;
    padding-top: 1%;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}
.heading{
    font-weight: 700;
    font-size: 120%;
    padding: 0;
    margin: 0 0 0 20px;
    color: var(--headingcolor);
    text-transform:uppercase;
}

.sidebar li{
    color:var(--textcolor);
    list-style: none;
    background-color: var(--textbackground);
    display: table;
    margin: 7.32px 0px 0px -20px;
    padding: 5px;
    border-radius: 20px;
    width: 95%;
    max-width: 400px;
    overflow-wrap: normal;
}


 
/* Calender CSS */
.box2{
    background-color: var(--secondarybackground);
    min-width:60%;
}

.calender{
    margin: 18% auto;
    padding: 0px 20px 25px 20px;
    background-color: white;
    border-radius: 32px;
    max-width: 550px;
    min-width: 350px;
    justify-content: center;
    overflow: auto;
}
.heading-calender{
    font-weight: 900;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.month{
    display:flex ;
    font-family: 'Inter';
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    padding-left: 10%;
}
.arrow{
    display: flex;
    text-align: right;
    justify-content: right;
    cursor: pointer;
    a{
        text-decoration: none;
        color: black;
    }
    gap: 80px;
    transform: scale(40%);
    .first-arrow{
        transform: rotate(0.5turn) translateY(4px);
        color: #676767;
        opacity: 50%;
    }
}

.main-calender{
    text-align:center ;
    justify-content: center;
    margin: auto;
}
.weekdays{
    margin: 0;
    padding-right: 0px;
    font-weight: bolder;
    display: grid;
    padding: 0px 9% 0px 12%;
    grid-template-columns: repeat(7, 1fr);
}

.buttons{
    margin: 0;
    transform: translate(8px);
    padding: 0px 10%;
    display: grid ;
    grid-template-columns: repeat(7, 1fr);

}

.buttons button{
    margin: 0;
    border: solid 1px #D5D4DF;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 62px;
    max-height: 62px;
    aspect-ratio: 1/1;
}

button.dates, button.dates-double{
    background-color: white;
}
button.dates-faded {
    background-color: #e1e4f0;
    color: #A8A8A8;
}

.calender button:hover{
    background-color: #5ED3EC;
    color: white;
}

.calender button:focus{
    background-color: orange;
    color: white;
}
@media only screen and (max-width: 480px) {
    body{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        /* height: 40%; */
        overflow-x: auto;
        overflow-y: auto;
    }
    .box2{
        width: 100%;
        overflow: auto;
    }
}
